/*Сбрасывает все стили*/
*{
    padding: 0;
    margin: 0;
}

/*Стили для тегов - без точки*/
img{
    border: 0; /*Рамка*/
    width: 750px; /*Ширина*/
}

body{
    background: beige; /*Фон*/
    font: 12px Arial; /*Шрифт*/
    color: #555; /*Цвет текста*/
    line-height: 1.3; /*Межстрочный интервал*/
}

a{
    text-decoration: none; /*Убирает подчеркивание у ссылки*/
    color: darkcyan;
}

/*Стили для класса начинаются с точки*/
.container{
    width: 750px;
    margin: 0 auto; /*Внешний отступ*/
}

.header{
    padding: 30px 0 0 0; /*Внутренний отступ*/
    margin-bottom: 15px; /*Внешний нижний отступ*/
}

.logo{
    margin: 0 auto 20px auto;
    display: block; /*Перевод из строчного элемента в блочный*/
    width: 300px;
}

.menu{
    list-style: none; /*Убирает пунты списка слева*/
    background: #fff;
    font-size: 14px; /*Размер текста*/
    font-weight: bold; /*Жирный шрифт*/
    overflow: hidden;
    border: 1px solid #f3f3f3;
    border-bottom: 3px solid #9dc5f0; /*Нижняя рамка*/
}

.menu li{
    float: left;
    border-left: 1px solid #f3f3f3; /*Левая рамка*/
    padding: 8px 30px;
}

/*Стиль для первого элмента списка*/
.menu li:first-child{
    float: left;
    border-left: none;
    padding: 8px 25px;
}

.menu li a{
    color: #5f5d67;
    text-decoration: none;
}

/*Стиль при наведении на элемент*/
.menu li a:hover{
    color: darkcyan;
}

.main-content{
    overflow: hidden;
    margin-bottom: 10px;
}

.main-content h1{
    font: normal 24px "Times New Roman";
    margin-bottom: 20px;
}

.main-content p{
    margin-bottom: 20px;
}

.content-left{
    background: #fff;
    padding: 30px;
    width: 420px;
    float: left;
}

.right-bar{
    background: #fff;
    width: 225px;
    padding: 30px 10px 30px 25px;
    float: right;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; /*Выбор шрифта*/
    font-size: 12px;
}

.main-content-img{
    margin-bottom: 10px;
}

.right-bar h1{
    font-family: Georgia, serif;
}

.footer{
    padding: 15px 30px;
    color: #a1a0a7;
    background: #fff;
    margin-bottom: 10px;
    border-top: 3px solid #9dc5f0;
}
.right-bar p{
    line-height: 0; /*Межстрочный интервал*/
}





